.section1{
 
    background-color: blueviolet;
}
.nav1{
    display: flex;
    margin-left: 940px;
    
    
}
h5{
    color: white;
    padding: 0px 0px 0px 5px;
}
/* nav2 */
.nav2,.title{
    display: flex;
}
.title{
    margin-left: 50px;
}
.title>h6{
    margin-left: 30px;
}